.signup-form {
  font-size: 30px;
  width: 50% !important;
  padding: 50px 0 !important;
  background-color: #23f0c7;
  margin-top: 100px;
  margin-bottom: 100px;
}
.signup-div {
  background-color: white;
  padding: 100px 0;
  color: white;
  font-family: "Lilita One";
}
.signup-heading {
  font-size: 110px;
  text-align: center;
  color: #7d7abc;
}
.error-span {
  background-color: red;
  color: white;
}
.row {
  padding: 20px !important;
}
button {
  /* width: 30%; */
  background-color: #ef767a;
}
.button-div {
  text-align: center;
  padding: 20px 0;
}
